body {
    font: 14px/1.5"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
    background: #eee;
    min-width: 1226px;
}
body {
    margin: 0;
}
#topbar {
      position:      relative;
      z-index:       30;
      height:        40px;
      line-height:   40px;
      font-size:     12px;
      color:         #b0b0b0;
      background:    #333;
}
.container {
    width:         1226px;
     *zoom:         1;
    margin-right:  auto;
    margin-left:   auto;
}
.topbar.topbar-nav {
    float:        left;
    height:       40px;
    line-height:  40px;
}
.topbar.topbar-cart {
    width:        120px;
    margin-left:  15px;
}
.topbar.topbar-nav.topbar.topbar-cart.topbar-info {
    position:   relative;
    float:      right;
    display:    inline;
    height:     40px;
}
.topbar.gowuche {
    position:        relative;
    z-index:         32;
    display:         block;
    height:          40px;
    line-height:     40px;
     text-align:     center;
     color:          #b0b0b0;
     background:     #424242;
}
.header {
    position: relative;
    z-index:  20;
    heighgt:  100px;
}
.header.container {
    position: relative;
}
.container {
    width: 1226px;
    margin-right: auto;
    margin-left:  auto;
}
li{
    float:    left;
    z-index:  10;

    margin:   0;
    padding:  12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.chaxunlan {
    float: right;
    width: 196px;
    margin-top: 25px;
}
.chaxunlan {
    position: absolute;
    z-index: 1;
    height: 48px;
    padding: 0 10px;
    border:  1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline:   0;
    left:  1000px;
}
  .zuoce .zuoce1 .diyi {
    width: 240px;
    position: relative;
    display: block;
    padding-left: 20px;
    height: 30px;
    line-height: 25px;
  }
  .site-category-list {
    height: 600px;
    border: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    padding: 0px 0;
  }
  .zuoce-1{
    width: 1225px;
    overflow: hidden;
    margin: 0 auto;
  }
  .zuoce1 ul:before, .zuoce1:after {
    height: 26px;
    display: block;
  }
  .zuoce1 ul li {
    padding: 10px 25px;
  }
  .zuoce1 ul li:hover {
    background-color: #ff6700;
  }
  .zuoce {
    font-size: 20px;
  }
  
  .site-category-list.title{
   color: #fff;
   position: relative;
   display: block;
   padding-left: 50px;
   height: 42px;
   line-height: 42px;
  }
  .zuoce-1.title.jiantou{
      position:     absolute;
      top:          1px;
      right:        20px;
      font-size:    16px;
      line-height:  16px;
  }
  .jiantou {
    font-style: normal;
  }
.if-box a{
    position: absolute;
    top: 130px;
    left: 300px;
}
.home-hero-sub{
    margin-top:12px;
    height: 170px;
    margin-left: 20px;
}
.home-hero-sub .span6{
    width:234px;
    float: left;
    min-height: 1px;
}
.home-hero-sub .span6 ul{
    margin:0;
    padding:3px;
    height: 170px;
    list-style-type: none;
    font-size:12px;
    text-align: center;
    background: #5f5750;
}
.home-hero-sub .span6 ul li{
    position: relative;
    float:left;
    width:70px;
    height: 82px;
    padding:0 3px;
}
.home-hero-sub .span6 ul ::before{
    top:-1px;
    left:8px;
    width:64px;
    height: 1px;
    position: absolute;
    content: '';
    background: #665e57;
}
.home-hero-sub .span6 ul ::after{
    top:6px;
    left:0;
    width: 1px;
    height: 70px;
    position: absolute;
    content: '';
    background: #665e57;
}
.home-hero-sub .span6 a{
    display: block;
    padding-top:18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#fff;
    transition:color .2s;
}
.home-hero-sub .span6 i{
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size:24px;
    line-height: 24px;
}
